In [142]:
import pandas as pd 
import numpy as np 
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

In [143]:
df = pd.read_csv('../data/clean-dataset.csv', index_col=0)

In [144]:
df.head(5)

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,0,61.0,0,0,2,35.54,8.8,240,1
1,0,63.0,0,0,0,33.63,3.5,130,0
2,0,68.0,1,0,2,42.73,6.8,200,1
3,0,60.0,0,0,1,28.62,5.8,145,0
4,1,58.0,0,0,0,25.70,6.5,126,0

In [145]:
X = df.drop(columns=['diabetes'])
y = df['diabetes']

In [146]:
X_test, X_train, y_test, y_train = train_test_split(X, y, test_size=0.2, random_state=43)

In [147]:
X_test

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level
9271,1,80.0,0,0,0,26.46,6.2,159
9470,1,68.0,0,1,2,20.58,4.8,155
12743,0,43.0,0,0,1,41.75,6.8,140
13394,1,33.0,0,0,2,38.27,6.2,90
13380,0,46.0,0,0,2,27.32,6.2,80
...,...,...,...,...,...,...,...,...
2064,0,72.0,0,0,2,28.24,6.5,300
10517,1,13.0,0,0,0,27.00,6.2,200
7985,0,33.0,0,0,2,22.46,6.0,140
2303,1,72.0,0,0,2,30.98,6.2,145
3392,0,43.0,0,0,1,38.79,6.1,80

In [166]:
scaler = StandardScaler()

X_test = scaler.fit_transform(X_test)
X_train = scaler.fit_transform(X_train)

# REDE NEURAL

In [158]:
model = tf.keras.Sequential([
  tf.keras.layers.Dense(64, input_shape=(8,), activation='relu'),
  tf.keras.layers.Dense(100, activation='relu'),
  tf.keras.layers.Dense(100, activation='relu'),
  tf.keras.layers.Dense(100, activation='relu'),
  tf.keras.layers.Dense(100, activation='relu'),
  tf.keras.layers.Dense(100, activation='relu'),
  tf.keras.layers.Dense(1, activation='sigmoid')
])

In [159]:
model.compile(optimizer=tf.keras.optimizers.Adam(),
              loss='binary_crossentropy',
              metrics=['accuracy']
              )

In [160]:
model.fit(X_train, y_train,
          batch_size=15,
          epochs=30)

Epoch 1/30
188/188 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7950 - loss: 0.4328
Epoch 2/30
188/188 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8645 - loss: 0.3015
Epoch 3/30
188/188 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8767 - loss: 0.2612
Epoch 4/30
188/188 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8788 - loss: 0.2602
Epoch 5/30
188/188 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8926 - loss: 0.2289
Epoch 6/30
188/188 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8919 - loss: 0.2258
Epoch 7/30
188/188 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9003 - loss: 0.2058
Epoch 8/30
188/188 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8935 - loss: 0.2006
Epoch 9/30
188/188 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8910 - loss: 0.2178
Epoch 10/30
188/188 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9031 - loss: 0.2054
Epoch 11/30
188/188 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9037 - loss: 0.1970
Epoch 12/30
188/188 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9067 - loss: 0.2016
Epoch 13/30
188/188 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8937 - loss: 0.2013
Epoch 14/30
188/188 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9072 - loss: 0.1900
Epoch 15/30
188/188 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9007 - loss: 0.2037
Epoch 16/30
188/188 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9014 - loss: 0.1886
Epoch 17/30
188/188 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9077 - loss: 0.1888
Epoch 18/30
188/188 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9102 - loss: 0.1783
Epoch 19/30
188/188 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9047 - loss: 0.1812
Epoch 20/30
188/188 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9155 - loss: 0.1779
Epoch 21/30
188/188 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9114 - loss: 0.1721
Epoch 22/30
188/188 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9158 - loss: 0.1607
Epoch 23/30
188/188 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9223 - loss: 0.1653
Epoch 24/30
188/188 ━━━━━━━━━━━━━━━━━━━━ 0s 983us/step - accuracy: 0.9182 - loss: 0.1641
Epoch 25/30
188/188 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9240 - loss: 0.1547
Epoch 26/30
188/188 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9146 - loss: 0.1610
Epoch 27/30
188/188 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9255 - loss: 0.1506
Epoch 28/30
188/188 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9173 - loss: 0.1683
Epoch 29/30
188/188 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9122 - loss: 0.1740
Epoch 30/30
188/188 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.9331 - loss: 0.1457

In [161]:
model.evaluate(X_test, y_test)

353/353 ━━━━━━━━━━━━━━━━━━━━ 0s 666us/step - accuracy: 0.8867 - loss: 0.2723

[0.2738739848136902, 0.8906236290931702]

In [174]:
pred = model.predict(X_test)

353/353 ━━━━━━━━━━━━━━━━━━━━ 0s 718us/step

In [171]:
pred

array([[3.4808862e-01],
       [6.4525795e-21],
       [6.0898936e-01],
       ...,
       [5.7346541e-01],
       [1.0000000e+00],
       [1.6388349e-01]], dtype=float32)